<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="loginConnectionString" connectionString="Data Source=DESKTOP-KNCIUG5;Initial Catalog=login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="loginConnectionString2" connectionString="Data Source=DESKTOP-KNCIUG5;Initial Catalog=login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="loginConnectionString3" connectionString="Data Source=DESKTOP-KNCIUG5;Initial Catalog=login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="RegistrationConnectionString"
          connectionString="Data Source=DESKTOP-KNCIUG5;Initial Catalog=UserDB;Integrated Security=True;"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <pages buffer="true" validateRequest="true"/>
      <customErrors mode="RemoteOnly"></customErrors>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" executionTimeout="240" maxRequestLength="500000"/>

      <sessionState mode="InProc"></sessionState>
      <authentication mode="Forms">
        <forms loginUrl="login.aspx" name=".AspxFormAuth"></forms>
      </authentication>
      <authorization>

      </authorization>
      
      
      
      
    </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 700MB (CD700) -->
        <requestLimits maxAllowedContentLength="737280000" />
      </requestFiltering>
    </security>
  </system.webServer>
  

</configuration>
